body{
	background-color: #f4f4f4;
	color: #555;
	font-family:Arial, Tahoma, Nevada, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: coral;
	color: #fff;
}

#navbar{
	background-color: #333;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
	
}

#navbar a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image: url('../images/showcase2.jpg');
	background-position: center bottom;
	background-size: contain;
	min-height: 300px; /* this makes text responsive on shifting*/
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color: yellow;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float: left;
	width: 70%;
	color: grey;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: olive;
	padding: 10px;
	box-sizing: border-box;
}

#main-footer{
	background-color: #333;
	color: olive;
	padding: 20px;
	margin-top: 40px;
}
/*Adds a Media Query to auto fix alignments*/
@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		float: none;
	}
}